<h1>All Pass Holders</h1>

<% @pass_holders.each do |pass_holder| %>
  <h3>Pass Holder Name: <%= pass_holder.name %></h3>
  <p>Age: <%= pass_holder.age%></p>
  <p>Season Pass: <%= pass_holder.season_pass%></p>
  <p>Level: <%= pass_holder.level%></p>
  <p>Created At: <%= pass_holder.created_at%></p>
  <p>Updated At: <%= pass_holder.updated_at%></p>
  <%= button_to "Update #{pass_holder.name}", "/pass_holders/#{pass_holder.id}/edit", method: :get %>
<% end %>
