<h1>Edit Student Information: <%= "#{@student.name}" %> </h1>

<%= form_with url:"/students/#{@student.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, :value => params[:name] || @student.name %><br/>
  <%= form.label :age %>
  <%= form.number_field :age, :value => params[:age] || @student.age %><br/>
  <%= form.label :subject %>
  <%= form.text_field :subject, :value => params[:subject] || @student.subject %><br/>
  <%= form.label :level %>
  <%= form.text_field :level, :value => params[:level] || @student.level %><br/>
  <%= form.label :returning_student %>
  <%= form.check_box :returning_student, :value => params[:returning_student] || @student.returning_student %><br/>

  <%= form.submit "Update #{@student.name}" %>
<% end %>
