<h1>Student Record: <%= @student.name %></h1>
<p>ID Number: <%= @student.id%></p>
<p>Age: <%= @student.age %></p>
<p>Subject: <%= @student.subject %></p>
<p>Level: <%= @student.level %></p>
<p>Returning Student: <%= @student.returning_student %></p>
<p>Created At: <%= @student.created_at %></p>
<p>Updated At: <%= @student.updated_at %></p>

<%= link_to "Update #{@student.name}", "/students/#{@student.id}/edit"%>
