<h1>Instructors</h1>

  <% @instructors.each do |instructor| %>
  <h2>Name: <%= instructor.name %></h2>
    <p>Instructor ID: <%= instructor.id %></p>
    <p>Instructor Subject Taught: <%= instructor.subject %></p>
    <p>Teaches Children? <%= instructor.teaches_children %></p>
    <p>Years Experience: <%= instructor.years_experience %></p>
    <p>Created at: <%= instructor.created_at %></p>
    <p>Updated at: <%= instructor.updated_at %></p>

    <%= button_to "View #{instructor.name}", "/instructors/#{instructor.id}", method: :get %>
    <%= button_to "Edit #{instructor.name}", "/instructors/#{instructor.id}/edit", method: :get %>
    <%= button_to "Delete #{instructor.name}", "/instructors/#{instructor.id}", method: :delete %>

  <% end %>

<%= link_to "New Instructor", "/instructors/new" %>