<h1>Instructors</h1>

  <% @instructors.each do |instructor| %>
  <p><%= instructor %>Name: <%= instructor.name %>, Created at: <%= instructor.created_at %>
    <%= button_to "Edit #{instructor.name}", "/instructors/#{instructor.id}/edit", method: :get %>
  </p>
  <% end %>

<%= link_to "New Instructor", "/instructors/new" %>