<h1><%= @instructor.name %></h1>
<p>ID Number: <%= @instructor.id%></p>
<p>Subject: <%= @instructor.subject %></p>
<p>Teaches Children: <%= @instructor.teaches_children %></p>
<p>Years Experience: <%= @instructor.years_experience %></p>
<p>Created At: <%= @instructor.created_at %></p>
<p>Updated At: <%= @instructor.updated_at %></p>
