<h1>All Resorts</h1>

<%= link_to 'New Resort', "/resorts/new" %>

<% @resorts.each do |resort| %>
  <p>Name: <%= resort.name %>
  <p>City: <%= resort.city %></p>
  <p>Runs: <%= resort.runs %></p>
  <p>ski_only: <%= resort.ski_only %></p>
  <p>Created at: <%= resort.created_at %></p>
  <p>Updated at: <%= resort.updated_at %></p>
  <p><%= button_to "Edit #{resort.name}", "/resorts/#{resort.id}/edit", method: :get %></p>
</p>
<% end %>
