<h1><%= @resort.name %></h1>
<p>Number of Passholders: <%= @pass_holder_count%></p>
<%= link_to "Passholders for this Resort", "/resorts/#{@resort.id}/pass_holders" %>
<p>ID Number: <%= @resort.id%></p>
<p>City: <%= @resort.city %></p>
<p>Ski_Only?: <%= @resort.ski_only %></p>
<p>Runs: <%= @resort.runs %></p>
<p>Created At: <%= @resort.created_at %></p>
<p>Updated At: <%= @resort.updated_at %></p>
