<%= link_to 'New Passholder', "/resorts/#{@resort.id}/resort_pass_holders/new" %>

<% @pass_holders.each do |holder| %>
  <h3>Name: <%= holder.name %></h3>
  <p>ID: <%= holder.id %></p>
  <p>Age: <%= holder.age %></p>
  <p>Level: <%= holder.level %></p>
  <p>Season Pass?:<%= holder.season_pass %></p>
  <p>Created At: <%= holder.created_at %></p>
  <p>Updated At:<%= holder.updated_at %></p>
  <% end %>
