<%= link_to 'New Passholder', "/resorts/#{@resort.id}/resort_pass_holders/new" %>
<%= link_to 'Sort Passholders Alphabetically', "/resorts/#{@resort.id}/resort_pass_holders?sort=asc"%>

<%= form_with url: "/resorts/#{@resort.id}/resort_pass_holders", method: :get, local: true do |form| %>
  <%= form.label :min_age %>
  <%= form.number_field :min_age %>
  <%= form.submit "Return records with pass holders greater than specified age" %>
<% end %>

<% @pass_holders.each do |holder| %>
  <h3>Name: <%= holder.name %></h3>
  <p>ID: <%= holder.id %></p>
  <p>Age: <%= holder.age %></p>
  <p>Level: <%= holder.level %></p>
  <p>Season Pass?:<%= holder.season_pass %></p>
  <p>Created At: <%= holder.created_at %></p>
  <p>Updated At:<%= holder.updated_at %></p>
<% end %>
