<!DOCTYPE html>
<html>
  <head>
    <title>ResortsSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class = navbar>
      <div class="topnav" id="siteWideNav">
          <h4> Quick Links: <%=link_to "Resorts", "/resorts" %> + <%=link_to "Pass Holders", "/pass_holders" %> &nbsp;&nbsp;|&nbsp;&nbsp; <%=link_to "Instructors", "/instructors" %>  +          
          <%=link_to "Students", "/students" %></h4>
      </div>
    </header>
    <%= yield %>

  </body>
</html>
